@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}
.header{
    background: linear-gradient(rgba(18, 91, 86,0.9),rgba(18, 91, 86,0.9)),url("../img/bg (5).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;

}
.active-logo{
    color: #979897;
}

#work .p-1{
    padding: 1px !important;
}

#work .image-container{
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}
#work .work-overlay{
    position: absolute;
    top: 0;
    display: none;
    background: rgba(255, 140, 104, 0.5);
    color: white;
    transition: 0.3s all ease-in-out;
}
#work .work-overlay .overlay-content{
    margin-top: 150px;
}
#work .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#work .work-content:hover .image-container img{
    transform: scale(1.5);
    transition: 1s all ease-in-out;
}

#work .work-content:hover .work-overlay{
    display: block;
    transform: skew(0deg);
    transition: 1s all ease-in-out;
}



/*
.work-content{
    width: 33%;
    height: 350px;
    margin-top: 1px;
    margin-right: 1px;
    position: relative;
    overflow: hidden;
}
.work-content img{
    width: 100%;
    height: 100%;
}

.work-overlay{
    position: absolute;
    top: 0;
    display: none;
    background: rgba(18, 91, 86,0.5);
    color: white;
}
.work-overlay h5{
   margin-top: 135px;
}
.work-content:hover .work-overlay{
    display: block;
    transform: skew(0deg);
    transition: 1s all ease-in-out;
}

*/

.testimonial-card ul{
    margin-left: -45px;
    margin-top: 17px;
}
.testimonial-card ul li{
    list-style-type: none;
    float: left;
    padding: 15px;
    border: 1px solid gainsboro;
    margin: 5px;
    cursor: pointer;
}
.testimonial-card ul li a i{
    color: gainsboro;
}.testimonial-card ul li a{
    display: block;
 }
.testimonial-card ul li:hover{
    background: whitesmoke;
}
.testimonial-bg{
    background: #53354a;
}
.testimonial-bg h3{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-weight: bold;
    /*margin-top: 150px;*/
    /*padding: 30px;*/
}
.testimonial-bg p{
    padding-left: 30px;
    color: white;
    font-weight: bold;
}
.big-footer{
    background: #3a3e64;
    border-bottom: 1px solid #808080;
}
.big-footer h6{
    font-size: 16px;
}
.big-footer p{
    font-size: 14px;
    color: #a9aab7;
    line-height: 17px;
}
.big-footer ul{
    list-style-type: none;
    margin-left: 40px;
}
.big-footer ul li{
    float: left;
    border: 1px solid #a9aab7;
    width: 50px;
    height: 50px;
    margin:7px;
}
.big-footer ul li a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 7px;
}

.big-footer ul li a:hover{
    background: white;
    color: #3a3e64;
}
footer{
    background: #313454;
    color: #808080;
    padding-top: 40px;
    padding-bottom: 20px;
}
footer p{
    line-height: 0px;
}